# dependencies
node_modules/

# next build
.next/
out/

# local env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# coverage
coverage/

# temp
tmp/
temp/